* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* product details */
.product-details-wrapper {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-between;
}
.product-details {
  width: 30%;
}
.product-details-wrapper .product-details .product-name {
  margin-bottom: 43px;
}
.product-details-wrapper .product-details .product-name div h4 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 16px;
}
.product-details-wrapper .product-details .product-name div{
  font-weight: 400;
  font-size: 30px;
}
/* product attributes */
.product-attributes {
  width: 100%;
  display: flex;
}
.product-attributes .product-attributes__size {
  font-family: "Source Sans Pro", sans-serif;
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-right: 12px;
  margin-bottom: 40px;
}
.product-attributes .product-attributes__size:hover,
.selected {
  background-color: #1d1f22;
  color: #ffffff;
}
/* color attributes */
.Color {
  border: none !important;
  box-shadow: 0px 4px 20px rgba(144, 144, 145, 0.19);
}
.Color:hover,
.selected-color {
  padding: 1px;
  border: 2px solid #ffffff !important;
  outline: 2px solid #1d1f22;
}
.attribute-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}
/* product price */
.product-details .product-price {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
/* add to cart */
.product-details .addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #5ece7b;
  width: 292px;
  height: 52px;
  margin-bottom: 40px;
}
/* product description */
.product-details .product-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.59px;
  margin-bottom: 40px;
}
/* product image gallery */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 63%;
  justify-content: space-between;
  margin-bottom: 40px;
}
.image-gallery .image-gallery__images figure, .image-gallery .image-gallery__images img{
  width: 79px;
  height: 80px;
}
.image-gallery .image-gallery__images figure{
  margin-bottom: 40px;
}
.image-gallery .image-gallery__images img{
  object-fit: cover;
}
.image-gallery .image-gallery__show figure, .image-gallery .image-gallery__show img{
  width: 610px;
  height: 511px;
}
.image-gallery .image-gallery__show img{
  object-fit: cover;
}
/* product gallery resposive */
@media only screen and (max-width: 1200px){
  .image-gallery .image-gallery__show figure, .image-gallery .image-gallery__show img{
    width: 100%;
    height: auto;
  }
  .image-gallery .image-gallery__show{
    width: 80%;
    height: 45vh;
    margin-bottom: 20px;
  }
  .image-gallery .image-gallery__images{
    width:20%;
  }
}
@media only screen and (max-width: 720px) {
  .product-details {
    width: 100%;
  }
  .image-gallery {
    width: 100%;
  }
  .image-gallery .image-gallery__images{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    order: 1;
  }
  .image-gallery .image-gallery__show{
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
  }
  .image-gallery .image-gallery__images figure, .image-gallery .image-gallery__images img{
    min-width: 60px;
    margin-right: 10px;
    flex-shrink: 0;
    height: auto;
  }
  .image-gallery .image-gallery__show figure, .image-gallery .image-gallery__show img{
    width: 100%;
    height: auto;
  }
}
